<h1 class="text-center">
    <span class="latex">L<span>a</span>T<span>e</span>X</span>
    Writer
</h1>
<p class="text-center">
    Write beautiful docs in LaTeX css.
</p>
<div class="font-web">
    <p class="text-center">
        <a class="text-md" href="https://github.com/kevincobain2000/latex-writer">
            <i class="fa fa-code"></i>
            Github
        </a>
        <br>
        <div class="text-sm text-center">

            <a href="./index.html">Home</a>
            <span class="text-muted">|</span>

            <a href="./latex.html">Latex</a>
            <span class="text-muted">|</span>

            <a href="./resume-flat.html">Resume Flat</a>
            <span class="text-muted">|</span>

            <a href="./declaration.html">Declaration</a>

            <br><br>

            <small class="text-muted text-sm">※ Auto saved in your browser.
                <a href="javascript:void(0);" id="clear-storage">Clear All</a>
            </small>
            <br>

            <b>Export:</b>
            <a href="javascript:void(0);" id="word-export">Word</a>,
            <a href="javascript:void(0);" id="pdf-export">Pdf</a>,
            <div id="modal-html" class="modal font-web">
                <pre id="modal-html-pre"></pre>
            </div>
            <a id="view-html" href="#modal-html" rel="modal:open">HTML</a>,
            <div id="modal-png" class="modal font-web">
                <div id="modal-png-div"></div>
            </div>
            <a id="view-png" href="#modal-png" rel="modal:open">PNG</a>
        </div>
    </p>
    <hr>
    <br>
</div>