<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/latex.css/style.min.css" />
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="./js/lib.js"></script>
    <script src="./js/app.js"></script>
    <block name="head"></block>
</head>
<body>
    <div class="container">
        <div class="no-print">
            <include src="../partials/header.html"></include>
        </div>
        <div class="editable">
            <block name="editable-html"></block>
        </div>
    </div>
</body>
</html>